
img {
  /* border: 15px solid white; */
  width: 180px;
  aspect-ratio: 2/2;
  position: absolute;
  bottom: 0;
  right: -10%;
}

.card {
  /* margin-bottom: 100px;
  padding: 40px;
  margin: 50px;
  margin: 30px auto;
  width: 250px;
  height: 300px; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 20px;
  position: relative;


}

.box {
  width: 70px;
  height: 70px;
  /* border: 2px solid yellow; */
  /* display: inline-block; */
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}